body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

.header {
  position: fixed;
  top:0;
  width:100%;
  background-color: aqua;
}

.header-content {
  width: 860px;
  margin: 0 auto;
  display: flex;
  flex-flow:column nowrap;
}

.title {
  margin: 0;
  padding: .5em 0;
  font-size: 1.2em;
}

.header-nav .nav {
  display: flex;
  height: 50px;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  transition:.2s all ease-in-out;
}

.nav a.active {
  flex-flow:column nowrap;
  justify-content: flex-end;
}

.nav a.active::after {
  content:'';
  width:100%;
  margin-top: 10px;
  height: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #000;

  transition:.2s all ease-in-out;
}

.nav a:hover {
  background-color:rgba(0,0,0,0.1);
  transition:.2s all ease-in-out;
}

.content {
  width:860px;
  margin: 7em auto 0;
  padding: .5em 1em;
  background-color: #fff;
}